@import url(https://fonts.googleapis.com/css?family=Oswald|Rajdhani);

$grey: #303030;
$red: #c12227;
$brown: #a16e4f;
$lightbrown: #e3c58f;


$mainFont: 'Rajdhani', sans-serif;
$bodyFont: 'Oswald', sans-serif;