@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700|Rajdhani);

$grey: #303030;
$maroon: #2a1814;
$red: #c12227;
$brown: #a16e4f;
$lightbrown: #e3c58f;

$faintwhite: #eaeaea;
$lightgrey: #bababa;


$headerFont: 'Rajdhani', sans-serif;
$bodyFont: 'Source Sans Pro', sans-serif;