@import "partials/setup";
@import "partials/variables";

body {
	background-color: black;
}

.logo {
	margin: 0 auto;
	padding: 20px;
	width: 400px;

	h1 {
		color: white;
		font-family: $headerFont;
		font-size: 5.5rem;
		margin: 40px 0 0 0;
		text-transform: uppercase;
		text-align: center;
	}

	h2 {
		color: $lightbrown;
		font-family: $headerFont;
		font-size: 1.6rem;
		margin: 0;
		padding: 0;
		text-align: center;
		text-transform: uppercase;
	}
}

.container { // contains all
	height: 100%;

	h3 {
		color: $red;
		font-family: $headerFont;
		font-size: 2.2rem;
		margin: 0;
	}
}

.heroImage {
	background-image: url('../../images/android.jpg');
	background-repeat: no-repeat;
	min-height: 100vh;
	background-position: center center;
}

//Forms
form { // contains the button too
	display: flex;
	flex-direction: column;
	align-items: center;

	img {
		width: 30px;
		padding-bottom: 40px;
	}
}

.formContainer { // contains both the forms, not the button
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	padding-top: 100px;
}

.btnCompare {
	width: 200px;
	padding: 20px;
	background-color: black;
	color: white;
	font-family: $headerFont;
	font-size: 1.1rem;
	border: 0;
	text-transform: uppercase;
	margin: 90px 0 20px 0;
}

.firstDeviceForm, .secondDeviceForm {
	width: 500px;
	display: flex;
	flex-direction: column;
	padding: 0 60px;
	font-family: $headerFont;

	label {
		padding: 20px 0;
		font-size: 1.3rem;
		color: white;
	}

	input {
		padding: 10px;
		font-size: 1.3rem;
	}
}

.secondDeviceForm {
	border-left: 1px solid #969696;
}

// Results
.results {
	background-color: #2a1814;
}

.bothPhones-container {
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 40px;
}

.firstPhone-container, .secondPhone-container {
	width: 500px;
	padding: 60px 10px 60px 60px;
	font-family: $bodyFont;
	font-weight: 300;
	vertical-align: top;

	ul {
		list-style-position: inside;
		padding-left: 0;
		font-size: 1.2rem;
		line-height: 30px;
		color: $lightgrey;
	}

	li {
		list-style-type: none;
		padding: 15px 0;
		border-bottom: 1px solid $lightgrey;
	}

	span {
		font-weight: 700;
		color: $faintwhite;
	}
}	

.warning {
	font-family: $bodyFont;
	font-size: 2rem;
	color: white;
	text-align: center;
}

.credits {
	color: white;
	font-family: $bodyFont;
	font-size: 1.1rem;
	text-align: center;
	padding: 10px;

	a:link, a:active, a:focus, a:visited {
		color: $lightbrown;
	}

	p {
		padding: 0;
		margin: 0;
	}
}


// Media Queries
@media (max-width: 1120px) {
	.firstPhone-container, .secondPhone-container {
		padding: 15px;
	}
}

@media (max-width: 760px) {
	.container {
		background-position: bottom;
	}

	.formContainer {
		padding-top: 60px;
	}

	.logo {
		padding: 15px;
		width: 400px;

		h1 {
			font-size: 4.3rem;
			margin: 40px 0 0 0;
		}

		h2 {
			color: $lightbrown;
			font-family: $headerFont;
			font-size: 1.3rem;
			margin: 0;
			padding: 0;
			text-align: center;
			text-transform: uppercase;
		}
	}

	.firstDeviceForm, .secondDeviceForm {
		padding: 0 30px;
	}
}

@media (max-width: 540px) {
	.container {
		h3 {
			font-size: 2rem;
			text-align: center;
		}
	}

	.formContainer {
		flex-direction: column;
	}

	.firstDeviceForm, .secondDeviceForm {
		width: 100%;
	}

	.firstDeviceForm {
		padding-bottom: 50px;
	}

	.secondDeviceForm {
		padding-top: 50px;
		border-left: 0px;
		border-top: 1px solid #969696;
	}

	.bothPhones-container {
		flex-direction: column;
		padding: 20px;
	}

	.firstPhone-container, .secondPhone-container {
		width: 100%;
	}
}